.ImageGallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 16px;
  padding: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 720px) {
  .ImageGallery {
  max-width: 750px;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .ImageGallery {
    max-width: 1050px;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

@media screen and (min-width: 1440px) {
  .ImageGallery {
    max-width: 1450px;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
  }
}
